 <div class="content">
  <div class="module">
    <div class="module-head">
        <h3>
            All Members</h3>
    </div>
    <div class="module-option clearfix">
        <form>
          <div class="input-append pull-left">
              <input type="text" class="span3" placeholder="Filter by name...">
              <button type="submit" class="btn">
                  <i class="icon-search"></i>
              </button>
          </div>
        </form>
        <div class="btn-group pull-right" data-toggle="buttons-radio">
            <button type="button" class="btn">
                All</button>
            <button type="button" class="btn">
                Male</button>
            <button type="button" class="btn">
                Female</button>
        </div>
    </div>
    <div class="module-body">
       <app-customers-list></app-customers-list>


        <!--/.row-fluid-->
        <br />
        <div class="pagination pagination-centered">
            <ul>
                <li><a href="#"><i class="icon-double-angle-left"></i></a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#"><i class="icon-double-angle-right"></i></a></li>
            </ul>
        </div>
    </div>
  </div>
</div>
                    <!--/.content-->
