<div class="content">
   <form>
     <div class="control-group">
          <label class="control-label" for="customer">Destinataire</label>
          <div class="controls">
            <div class="input-append">
                <select name="" class="form-control" id="customer" name="customer">
                  <option value="V1">V1</option>
                  <option value="V1">V1</option>
                  <option value="V1">V1</option>
                  <option value="V1">V1</option>
                  <option value="V1">V1</option>
                </select>
            </div>
          </div>
      </div>

       <div class="control-group">
          <label class="control-label" for="title">Sujet</label>
          <div class="controls">
            <div class="input-append">
                <input type="text" class="form-control" id="title">
              </div>
          </div>
      </div>

      <div class="control-group">
          <label class="control-label" for="content">Message</label>
          <div class="controls">
            <div class="input-append">
                      <textarea  class="form-control" name="content" id="content" cols="30" rows="10" style="width: 919px; height: 148px;"></textarea>
              </div>
          </div>
      </div>

      <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary">Envoyer</button>
          </div>
			</div>
   </form>
</div>
