 <div class="media user">
                    <a class="media-avatar pull-left" href="#">
                        <img src="assets/images/user.png">
                    </a>
                    <div class="media-body">
                        <h3 class="media-title">
                            John Donga
                        </h3>
                        <p>
                            <small class="muted">Pakistan</small></p>
                        <div class="media-option btn-group shaded-icon">
                            <button class="btn btn-small">
                                <i class="icon-envelope"></i>
                            </button>
                            <button class="btn btn-small">
                                <i class="icon-share-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
