<div class="row-fluid">
  <div class="span5"></div>
  <div class="span4"></div>
  <div class="span2">
      <div class="btn-group left">
        <button class="btn btn-primary">Creer</button>
        <button class="btn btn-success">Filter par</button>
          <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">En attente</a></li>
            <li><a href="#">Valider</a></li>
            <li><a href="#">Annulé</a></li>
          </ul>
    </div>
  </div>
</div>
<br>

<div class="row-fluid">
  <table class="table table-striped table-bordered table-hover table-responsive">
        <thead>
          <tr>
            <th>Libellé</th>
            <th>Destinataire</th>
            <th>Montant global</th>
            <th>Status</th>
            <th colspan="3">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Devis Univetech</td>
              <td>2IP</td>
              <td>45000</td>
              <td><span class="label label-warning">En attente</span></td>
              <td><a href="#" class="btn btn-success">Consulter</a></td>
              <td><a href="#" class="btn btn-primary">Modifier</a></td>
              <td> <a href="#" class="btn btn-danger">Supprimer</a></td>
          </tr>

            <tr>
            <td>Devis Univetech</td>
              <td>2IP</td>
              <td>45000</td>
              <td><span class="label label-important">Valider</span></td>
              <td><a href="#" class="btn btn-success">Consulter</a></td>
              <td><a href="#" class="btn btn-primary">Modifier</a></td>
              <td> <a href="#" class="btn btn-danger">Supprimer</a></td>
          </tr>


            <tr>
            <td>Devis Univetech</td>
              <td>2IP</td>          
              <td>45000</td>
              <td> <span class="label label-inverse">Annulé</span> </td>
              <td><a href="#" class="btn btn-success">Consulter</a></td>
              <td><a href="#" class="btn btn-primary">Modifier</a></td>
              <td> <a href="#" class="btn btn-danger">Supprimer</a></td>
          </tr>

            <tr>
            <td>Devis Univetech</td>
              <td>2IP</td>          
              <td>45000</td>
              <td> <span class="label label-info">Rejecter</span> </td>
              <td><a href="#" class="btn btn-success">Consulter</a></td>
              <td><a href="#" class="btn btn-primary">Modifier</a></td>
              <td> <a href="#" class="btn btn-danger">Supprimer</a></td>
          </tr>

        </tbody>
  </table>
</div>



