
<div class="sidebar">
    <ul class="widget widget-menu unstyled">
        <li class="active"><a routerLink="/"><i class="menu-icon icon-dashboard"></i>Dashboard
        </a></li>
        <li><a routerLink="/news"><i class="menu-icon icon-bullhorn"></i>Annonce</a>
        </li>
        <li><a routerLink="/inbox"><i class="menu-icon icon-inbox"></i>Message <b class="label green pull-right">
            11</b> </a></li>
        <li><a routerLink="/tasks"><i class="menu-icon icon-tasks"></i>Tasks <b class="label orange pull-right">
            19</b> </a></li>
    </ul>
    <!--/.widget-nav-->
    <ul class="widget widget-menu unstyled">
        <li><a routerLink="/devis"><i class="menu-icon icon-bold"></i> Devis </a></li>
        <li><a class="collapsed" data-toggle="collapse" href="#togglePages"><i class="menu-icon icon-cog">
        </i><i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right">
        </i>Produits</a>
            <ul id="togglePages" class="collapse unstyled">
                <li><a routerLink="/product"><i class="icon-inbox"></i>Ajouter  </a></li>
                <li><a routerLink="/product/list"><i class=" icon-list-alt"></i>Liste </a></li>
            </ul>
        </li> 
        <li><a routerLink="/customers"><i class="menu-icon icon-paste"></i>Client </a></li>
        <li><a routerLink="/offers"><i class="menu-icon icon-table"></i>Packages </a></li>
        <li><a routerLink="/ops"><i class="menu-icon icon-bar-chart"></i>Operations </a></li>
    </ul>
    <!--/.widget-nav-->
    <ul class="widget widget-menu unstyled">
        <li><a routerLink="/user"><i class="icon-inbox"></i>Profile </a></li>
        <!-- <li><a class="collapsed" data-toggle="collapse" href="#togglePages"><i class="menu-icon icon-cog">
        </i><i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right">
        </i>More Pages </a>
            <ul id="togglePages" class="collapse unstyled">
                <li><a href="other-login.html"><i class="icon-inbox"></i>Login </a></li>
                <li><a href="other-user-profile.html"><i class="icon-inbox"></i>Profile </a></li>
                <li><a href="other-user-listing.html"><i class="icon-inbox"></i>All Users </a></li>
            </ul>
        </li> -->
        <li><a href="#"><i class="menu-icon icon-signout"></i>Logout </a></li>
    </ul>
</div>