<table class="table table-message">
          <tbody>
            <tr class="heading">
              <td class="cell-icon"></td>
              <td class="cell-title">Task</td>
              <td class="cell-status hidden-phone hidden-tablet">Status</td>
              <td class="cell-time align-right">Due Date</td>
            </tr>

          <tr class="task">
              <td class="cell-icon"><i class="icon-checker high"></i></td>
              <td class="cell-title"><div>Lorem ipsum dolor sit et, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div></td>
              <td class="cell-status hidden-phone hidden-tablet"><b class="due">Missed</b></td>
              <td class="cell-time align-right">Just Now</td>
            </tr>
            <tr class="task">
              <td class="cell-icon"><i class="icon-checker"></i></td>
              <td class="cell-title"><div>Lorem ipsum dolor sit et, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div></td>
              <td class="cell-status hidden-phone hidden-tablet"><b class="due">Missed</b></td>
              <td class="cell-time align-right">Just Now</td>
            </tr>
            <tr class="task">
              <td class="cell-icon"><i class="icon-checker"></i></td>
              <td class="cell-title"><div>Lorem ipsum dolor sit et, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div></td>
              <td class="cell-status hidden-phone hidden-tablet"><b class="due">Missed</b></td>
              <td class="cell-time align-right">Yesterday</td>
            </tr>

</tbody>
